.headerTitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.blogContent{
    background-color: #dec9b2;
    padding: 0px 20px;
}
a{
    color: #dadada;;
}
 nav.blogNav{
    background-color: #032f39c7;

    padding: 10px;
    a{
        color: #dec9b2;;
    }
}